﻿@model IEnumerable<GibixOnline.ReaderShareProject.Models.Post>

@{
	ViewBag.Title = "Posts";
}


<table>
	<tr>
		<th>
			Published
		</th>
		<th>
			LastUpdated
		</th>
		<th>
			Title
		</th>
		<th>
			Summary
		</th>
		<th>
			Content
		</th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Published)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.LastUpdated)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Title)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Summary)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Content)
		</td>
	</tr>
}

</table>
