﻿@{
	ViewBag.Title = "Post saved";
}

@if (ViewBag.ExceptionMessage == null) {
	<p>Your post was saved.</p>
} else {
	<p>The post link was saved but the content was not copied.</p>
	<p>@ViewBag.ExceptionMessage</p>
}
<p><a href="javascript:window.close();">close window</a></p>

