﻿<h2>Welcome to the Reader Share Project.</h2>
<p>
	This project is designed to provide a quick and easy way to share articles between users in <a href="http://www.google.com/reader" rel="external" title="Google Reader">Google Reader</a> as
	the original sharing method was <a href="http://googlereader.blogspot.com/2011/10/new-in-reader-fresh-design-and-google.html" rel="external" title="New in Reader: a fresh design, and Google+ sharing">removed in the Google+ update</a>.
</p>
<p>
	The current implementation of the Reader Share Project allows you to quickly share the current article's URL using the
	<a href="http://googlereader.blogspot.com/2009/08/flurry-of-features-for-feed-readers.html" rel="external" title="A flurry of features for feed readers"><strong>Send To</strong></a> feature 
	currently available in Google Reader. Because this application must be added as a custom Send To target, the full article
	will not show up in your share feed. However, the article title, the feed's name, and the URL of the article are shared.
</p>
<p>
	Sharing through the Reader Share Project is straight forward. After you create an account on this site with your OpenId
	and configuring the Send To link in Google Reader you can immediately start posting articles. After posting articles, you
	will need to provide your friends your feed URL that they can add to their own Google Reader. Any article you post to your
	feed will then show up on users that have your feed URL. This is all implemented using the standard Atom/RSS feeds, so technically
	you aren't limited to Google Reader, and can post and read using any product you want. I just wanted a way to share articles
	with my friends again.
</p>