﻿/**
 * HTML5 ✰ Boilerplate https://github.com/paulirish/html5-boilerplate/blob/362d0b7/css/style.css
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del { text-decoration: line-through; }

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

body {
	font: 13px/1.231 sans-serif;
	*font-size: small;
}

pre, code, kbd, samp { font-family: monospace, sans-serif; }

html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a:link { -webkit-tap-highlight-color: #FF5E99; }

a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }

a:hover { color: #036; }

ul, ol { margin-left: 2em; }

ol { list-style-type: decimal; }

nav ul, nav li {
	margin: 0;
	list-style: none;
	list-style-image: none;
}

small { font-size: 85%; }

b, strong, th { font-weight: bold; }

td { vertical-align: top; }

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 15px;
}

.ie6 legend, .ie7 legend { margin-left: -7px; }

button, input, select, textarea {
	width: auto;
	overflow: visible;
	margin: 0;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
	vertical-align: text-top;
}

label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

input::-moz-focus-inner,
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input:valid, textarea:valid { }

input:invalid, textarea:invalid {
	border-radius: 1px;
	-moz-box-shadow: 0px 0px 5px red;
	-webkit-box-shadow: 0px 0px 5px red;
	box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {
	color: #444;
	font-family: Verdana, Arial, serif;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */

::-moz-selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #fe57a1;
	color: #fff;
	text-shadow: none;
}

/**
 * Primary styles
 *
 * Author: 
 */

/* Styles for basic forms
-----------------------------------------------------------
fieldset { border:1px solid #ddd;  padding:0 1.4em 1.4em 1.4em; margin:0 0 1.5em 0; }
legend { font-size:1.2em; font-weight: bold; }
textarea { min-height: 75px; }
.editor-label { margin: 1em 0 0 0; }
.editor-field { margin:0.5em 0 0 0; }*/



/* Styles for validation helpers
-----------------------------------------------------------
.field-validation-error { color: #ff0000; }
.field-validation-valid { display: none; }
.input-validation-error { border: 1px solid #ff0000; background-color: #ffeeee; }
.validation-summary-errors { font-weight: bold; color: #ff0000; }
.validation-summary-valid { display: none; }

.block { display: block; }
table td { vertical-align: top; }
table.form th { text-align: left; }
table.form div { font-size: 0.8em; font-weight: normal; }

*/

h2, h3, h4, h5, h6 {
	margin-top: .5em;
	margin-bottom: .5em;
}

h1 { font-size: 18pt; }

h2 { font-size: 16pt; }

h3 { font-size: 14pt; }

h4 { font-size: 12pt; }

h5 {
	font-size: 10pt;
	font-weight: normal;
	font-style: italic;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

a, a:visited {
	text-decoration: none;
	color: #06c;
}

a:hover { text-decoration: underline; }

header {
	height: 2em;
	background-color: #89b6ff;
	background-color: rgba(137, 182, 255, 0.85);
	border-bottom: 1px solid #000;
	border-bottom: 1px solid rgba(0, 0, 0, 0.85);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

header h1 { font-size: 10pt; }

header a, header a:visited, header a:active {
	color: #000;
	text-decoration: none;
}

header h1 {
	float: left;
	position: relative;
	top: 4px;
	left: 4px;
}

header ul {
	float: right;
	position: relative;
	top: 4px;
	right: 4px;
}

header nav ul {
	list-style-type: none;
	display: block;
}

header nav ul li {
	display: inline;
	padding: 0px 0px 2px 14px;
}

#body-content { margin: 2.5em 4px 4px 4px; }

div.center { margin: 0 auto; }

div.width50 { width: 50%; }

table td, table th { padding: 3px 6px; }

table th { text-align: left; }

table td { vertical-align: top; }

table.form th { text-align: left; }

table.form span {
	font-size: 0.8em;
	font-weight: normal;
}

ol li table { margin-top: 1em; margin-bottom: 1em; }
ol li table tbody th { text-align: left; padding: 2px 6px 2px 0px; }
ol li table tbody td { padding: 2px; }

/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */

.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */

.hidden {
	display: none;
	visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */

.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }



/**
 * Placeholder media queries for responsive design. Modify as design requires.
 * These follow after, and will override, the primary ('mobile first') styles
 * The closing /mediaquery comment is required by respond.js min/max-width Media Query polyfill
 */

@media only screen and (min-width: 480px) {
	/* Style adjustments for viewports 480px and over go here */

	
	
}/*/mediaquery*/

@media only screen and (min-width: 768px) {
	/* Style adjustments for viewports 768px and over go here */

	
	
}/*/mediaquery*/



	/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */

@media print {
	* {
		background: transparent !important;
		color: black !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	} /* Black prints faster: sanbeiji.com/archives/953 */

	a, a:visited {
		color: #444 !important;
		text-decoration: underline;
	}

	a[href]:after { content: " (" attr(href) ")"; }

	abbr[title]:after { content: " (" attr(title) ")"; }

	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */

	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */

	tr, img { page-break-inside: avoid; }

	img { max-width: 100% !important; }

	@page {
		margin: 0.5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 { page-break-after: avoid; }
}